footer {

    // @at-root {
    //
    //     html {
    //         overflow-x: hidden;
    //     }
    //
    //     body {
    //         overflow-x: hidden;
    //     }
    //
    // }

    background: $color-section-03-bg;
    padding-bottom: 16px;
    // padding: 16px;
    vertical-align: middle;
    position: relative;

    &:before {
        // content: "";
        // background: $color-section-03-bg;
        // display: block;
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // transform: skewY(-1.25deg) translate3d(0, 0, 0) scale(1.25);
        // bottom: 0;

        // temporary solution to avoid scrollbar
        content: "";
        display: block;
        position: absolute;
        top: -42px;
        left: 0;
        right: 0;
        transform: skewY(-1.25deg);
        height: 84px;
        background: $color-section-03-bg;
    }

    a {
        text-decoration: none;
        color: $color-primary;
        &:hover {
            color: $color-grey-100;
        }
    }

    img {
        height: 32px;
    }

}
