<head>
<meta charset="utf-8">
<title>{{config.title}} – {{config.subhead}} {{config.subhead2}}</title>
<link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
</head>
