.publications {

    img {
        display: block;
        margin: auto;
        max-width: 100%;
        width: 320px;
    }

    @include respond-to(md) {

        h3 {
            margin-top: 0;
        }

        img {
            display: block;
            margin: auto;
            max-width: 160px;
        }

    }

    .publication {
        margin-bottom: 40px;
    }

}

article .cover-image {

    float: left;
    margin: 0 16px 8px 0;
    width: 100%;

    @include respond-to(sm) {
        width: 256px;
    }

    img {
        width: 100%;
    }

}
