<div class="customers">

    <h1>{{customers.title}}</h1>
    {{{customers.intro}}}
    <section class="customer-logos">
        {{#each customer-logos.items ~}}
            <img src="{{image}}" />
        {{/each~}}
    </section>
    <p><small>{{customers.note}}</small></p>

</div>
