<div class="grid fixed">
    <div class="row">
        <div class="col col-xs-12">
            <h1>{{customers.title}}</h1>
            <p>
                {{customers.intro}}
            </p>
            <section class="customer-logos">
                {{#each customer-logos.items ~}}
                    <img src="{{image}}" />
                {{/each~}}
            </section>
        </div>
    </div>

</div>
