<div class="publications">

    <h1>Veröffentlichungen</h1>

    <h2>{{publications.book.title}}</h2>
    {{#each publications.book.items}}
        {{> publication}}
    {{/each}}

    <h2>{{publications.articles.title}}</h2>
    {{#each publications.articles.items}}
        {{> publication}}
    {{/each}}

</div>
