<div class="technologies">
    <h1>{{technologies.title}}</h1>

    <div class="row">
        <div class="col col-xs-12 col-lg-6">
            {{{technologies.intro}}}
        </div>
        <div class="col col-xs-12 col-lg-6">
            <img src="{{assets}}/img/technologies.svg" />
            <small>Some technologies I've worked with. And liked it!</small>
        </div>
    </div>
</div>
