---
de: clients.html
en: clients.html
---
<div class="clients">

    <h1>{{clients.title}}</h1>

    <div class="row">
        <div class="col col-xs-12">

            {{{clients.intro}}}
            <section class="client-logos">
                {{#each client-logos.items ~}}
                    <img src="{{image}}" />
                {{/each~}}
            </section>
            <p><small>{{clients.note}}</small></p>

        </div>

    </div>

</div>
