---
de: index.html
en: index.html
---
<h1>{{home.title}}</h1>
<div class="row">
    <div class="col col-xs-12 col-lg-8">
        {{{home.intro}}}
    </div>
    <div class="col col-xs-12 col-lg-4">
        <img src="/assets/img/manuel-portrait-01.jpg"/>
    </div>
</div>
