<!DOCTYPE html>
<html>
{{> head }}
<body>
{{> header }}
<main>
<div class="grid">
    <div class="row">
        <div class="col col-xs-12">
            {{> body }}
        </div>
    </div>
</div>
</main>
{{> footer }}
</body>
</html>
