@import '../../node_modules/@manuel-bieh/ui/es/variables.css';
@import '../../node_modules/@manuel-bieh/ui/es/defaults.css';

@font-face {
    font-family: Classic Round;
    src: url(../../assets/fonts/classicround-regular-webfont.eot);
    src: url(../../assets/fonts/classicround-regular-webfont.eot?#iefix) format('embedded-opentype'),
        url(../../assets/fonts/classicround-regular-webfont.woff) format('woff'),
        url(../../assets/fonts/classicround-regular-webfont.ttf) format('truetype'),
        url(../../assets/fonts/classicround-regular-webfont.svg#classic_roundregular) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Classic Round;
    src: url(../../assets/fonts/classicround-italic-webfont.eot);
    src: url(../../assets/fonts/classicround-italic-webfont.eot?#iefix) format('embedded-opentype'),
        url(../../assets/fonts/classicround-italic-webfont.woff) format('woff'),
        url(../../assets/fonts/classicround-italic-webfont.ttf) format('truetype'),
        url(../../assets/fonts/classicround-italic-webfont.svg#classic_rounditalic) format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Classic Round;
    src: url(../../assets/fonts/classicround-medium-webfont.eot);
    src: url(../../assets/fonts/classicround-medium-webfont.eot?#iefix) format('embedded-opentype'),
        url(../../assets/fonts/classicround-medium-webfont.woff) format('woff'),
        url(../../assets/fonts/classicround-medium-webfont.ttf) format('truetype'),
        url(../../assets/fonts/classicround-medium-webfont.svg#classic_round_mediumregular)
            format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Classic Round;
    src: url(../../assets/fonts/classicround-bold-webfont.eot);
    src: url(../../assets/fonts/classicround-bold-webfont.eot?#iefix) format('embedded-opentype'),
        url(../../assets/fonts/classicround-bold-webfont.woff) format('woff'),
        url(../../assets/fonts/classicround-bold-webfont.ttf) format('truetype'),
        url(../../assets/fonts/classicround-bold-webfont.svg#classic_roundbold) format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    line-height: 1.6;
    font-family: Classic Round, Georgia, sans-serif;
    font-size: 18px;
}

main {
    display: block;
    padding-top: 48px;
    padding-bottom: 64px;
}

main h2 {
    padding-bottom: 4px;
    border-bottom: 1px solid #94b6b5;
}

ul,
ol,
dl {
    margin: 1em 0 1em 1em;
    /* margin-left: 1em;
    margin-bottom: 1em; */
    &:first-child {
        margin-top: 0;
    }
}

ul,
ol {
    padding-left: 24px;
}

p {
    margin-bottom: 1em;
}

footer,
header {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

main {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

h1,
h2 {
    font-family: Classic Round, Georgia, sans-serif;
    font-weight: 500;
}

h1,
h2,
h3 {
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

h1:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 28px;
    padding-bottom: 4px;
    margin-top: 1.5em;
}

h3 {
    font-family: Classic Round, Georgia, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 1em 0;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(2n) {
    background: #f6f6f6;
}

td,
th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
th {
    text-align: left;
}
strong,
b {
    font-weight: 700;
}
a {
    color: #00c7c2;
}
a:hover {
    color: #174c5b;
}
/*
footer {
    background: #94b6b5;
    padding-bottom: 16px;
    margin-top: 16px;
    vertical-align: middle;
    position: relative;
}
footer:before {
    background: #94b6b5;
    content: '';
    display: block;
    position: absolute;
    top: -42px;
    right: 0;
    bottom: 42px;
    left: 0;
    -ms-transform: skewY(-1.25deg);
    transform: skewY(-1.25deg);
    min-height: 84px;
}
footer > :first-child {
    margin-top: -24px;
}
footer a {
    text-decoration: none;
    color: #174c5b;
}
footer a:hover {
    color: #f9f9f9;
}
footer img {
    height: 32px;
}
.client-logos {
    text-align: center;
    font-size: 0;
}
.client-logos img {
    margin: 8px 12px;
    width: 216px;
    max-width: calc(50% - 24px);
}
.cv-table td:first-child {
    width: 96px;
}
.publications img {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 320px;
}
@media (min-width: 768px) {
    .publications h3 {
        margin-top: 0;
    }
    .publications img {
        max-width: 160px;
    }
}
.publications .publication {
    margin-bottom: 40px;
}
article .cover-image {
    float: left;
    margin: 0 16px 8px 0;
    width: 100%;
}
@media (min-width: 480px) {
    article .cover-image {
        width: 256px;
    }
}
article .cover-image img {
    width: 100%;
} */
/*# sourceMappingURL=main.css.map */
