$color-grey-10: #222;
$color-grey-25: #555;
$color-grey-30: #666;
$color-grey-35: #777;
$color-grey-40: #888;
$color-grey-50: #999;
$color-grey-66: #aaa;
$color-grey-75: #ccc;
$color-grey-82: #ddd;
$color-grey-90: #eee;
$color-grey-95: #f6f6f6;
$color-grey-100: #f9f9f9;

$color-primary: #174c5b;
$color-secondary: #94b6b5;
// $color-highlight: #00a7d6; // old highlight color
$color-highlight: #00c7c2;

$color-section-01-bg: white;
$color-section-01-fg: $color-grey-10;
$color-section-02-bg: $color-grey-95;
$color-section-02-fg: $color-grey-10;
$color-section-03-bg: $color-secondary;
$color-section-03-fg: $color-grey-100;
$color-section-04-bg: $color-primary;
$color-section-04-fg: $color-grey-100;
