body {
    line-height: 1.6;
    font-family: Classic Round;
    font-size: 18px;
}

main {

    display: block;
    padding-top: 48px;
    padding-bottom: 64px;

    h2 {
        padding-bottom: 4px;
        border-bottom: 1px solid $color-secondary;
    }

}

// flexbox start
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header, footer {
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
}
// flexbox end


h1, h2 {
    font-family: Classic Round;
    font-weight: 500;
}

h1, h2, h3 {
    line-height: 1.25;
}

h1 {
    font-size: 36px;
    &:first-child {
        margin-top: 0;
        margin-bottom: 0;
    }
}

h2 {
    font-size: 28px;
    padding-bottom: 4px;
    margin-top: 1.5em;
}

h3 {
    font-family: Classic Round;
    font-size: 24px;
    font-weight: 500;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(2n) {
    background: $color-grey-95;
}

td, th {
    border-bottom: 1px solid $color-grey-82;
    padding: 8px;
}

th {
    text-align: left;
}

a {
    color: $color-highlight;
    &:hover {
        color: $color-primary;
    }
}

.section-01 {
    background: $color-section-01-bg;
    h1, h2, h3 {
        color: $color-section-01-fg;
    }
}

.section-02 {
    background: $color-section-02-bg;
    h1, h2, h3 {
        color: $color-section-02-fg;
    }
}

.section-03 {
    background: $color-section-03-bg;
    h1, h2, h3 {
        color: $color-section-03-fg;
    }
}

.section-04 {
    background: $color-section-04-bg;
    h1, h2, h3 {
        color: $color-section-04-fg;
    }
}

.logo {

    max-width: 100%;
    width: 256px;

    &.large {
        width: 384px;
    }
    &.medium {
        width: 256px;
    }
    &.small {
        width: 192px;
    }
    &.tiny {
        width: 96px;
    }

}

.center {
    text-align: center;
}
