<header>
    <div class="grid fixed">
        <div class="row">
            <div class="col col-xs-12">
                <hgroup>
                    <h1>Manuel Bieh</h1>
                    <h2>JavaScript. React. Node.js.</h2>
                </hgroup>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <nav>
                    <ul>
                        {{!-- {{{_inspect .}}} --}}
                        <li style="float: right">
                            <a href="/en">EN</a> | <a href="/de">DE</a>
                        </li>
                        {{#each topbar}}
                            <li {{#is file ../filename}}class="active"{{/is}}>
                                <a href="/{{../language}}/{{file}}">{{title}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
