@import "../config/colors";
@import "../config/mediaqueries";
@import "../mixins/clearfix";

.grid {

    .grid {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    display: flex;
    flex-wrap: wrap;

    margin: auto;
    max-width: $grid-max-width;
    position: relative;
    width: 100%;

    &:after {
        @extend %clearfix;
    }

    @each $size, $query in $media-queries {
        @media #{$query} {
            &.fixed {
                max-width: map-get($fixed-widths, #{$size});
            }
        }
    }

    &--align-start {
        align-items: flex-start;
    }

    &--align-stretch {
        align-items: stretch;
    }

    &--align-center {
        align-items: center;
        .column {
            align-self: center;
        }
    }

    &--text-left {
        text-align: left;
    }

    &--text-center {
        text-align: center;
    }

    &--text-right {
        text-align: right;
    }

    .row {
        @extend %clearfix;
        clear: both;
        // margin-left: -($grid-cell-padding-h);
        // margin-right: -($grid-cell-padding-h);
        // margin: -($grid-cell-padding-v) -($grid-cell-padding-h);
        min-width: 100%;
        // outline: 1px solid blue;
    }

    .row .col .row {
        margin: -($grid-cell-padding-v) -($grid-cell-padding-h);
    }

    .col {

        vertical-align: top;
        // display: flex;
        // flex-direction: column;

        box-sizing: border-box;
        float: left;
        margin: $grid-cell-margin-h/2 $grid-cell-margin-v/2;
        max-width: 100%;
        min-height: 1px;
        padding: $grid-cell-padding-v $grid-cell-padding-h;
        position: relative;

    }

}

@each $size, $query in $media-queries {

    @media #{$query} {

        @for $cols from 1 through 12 {

            // .col-#{$size}-pull-#{$cols} {
            //     left: calc(-100%/(12/#{$cols}) )
            // }
            //
            // .col-#{$size}-push-#{$cols} {
            //     left: calc(100%/(12/#{$cols}) );
            // }

            .col-#{$size}-#{$cols} {
                display: block;
                width: calc(100%/(12/#{$cols}) - #{$grid-cell-margin-h});
            }

        }

        .col-#{$size}-0,
        .col-#{$size}-hidden { display: none; }
        .col-#{$size}-visible { display: initial; }
        .col-#{$size}-left { float: left; }
        .col-#{$size}-right { float: right; }
        .col-#{$size}-none { float: none; }

    }

}

// debug:
@if $debug == true {

    .grid .row {
        background: rgba(0,0,0,0.1);
        outline: 1px solid rgba(255, 0, 0, 0.4);
    }

    .grid > .row > .col {
        background: rgba(0,0,0,0.1);
        // outline: 1px solid #900;
        outline: 1px solid rgba(0, 0, 255, 0.4);
    }

}
